<ion-content class="ion=padding">
  <div id="header" class="ion-margin-bottom">
    <ion-icon id="menu-icon" name="grid-outilne"></ion-icon>
    <div id="location">
      <ion-icon name="location"></ion-icon>
      <h4 class="ion-no-margin">Viña del Mar</h4>
    </div>
    <div id="avatar">
      <ion-img src="../../../assets/avatar.png"></ion-img>
    </div>
  </div>

  <ion-searchbar></ion-searchbar>

  <div id="banner">
    <ion-img src="../../../assets/banner.jpg"></ion-img>
  </div>
  <div class="sub-title">
    <h3>¿Te estas sintiendo con hambre?</h3>
    <p>Si te sientes con hambre es momento de pedir algo para comer</p>
<div class="middle-section ion-padding">
  <h3>Que se te antoja hoy?</h3>
  <div class="content">
    <ion-row>
      <ion-col size="4">
        <img src="/assets/pizza.png" alt="">
        <p>Pizzas</p>
      </ion-col>
      <ion-col size="4">
        <img src="/assets/hamburguesa.jpg" alt="">
        <p>Hamburguesa</p>
      </ion-col>
      <ion-col size="4">
        <img src="/assets/ensalada.jpg" alt="">
        <p>Ensaladas</p>
      </ion-col>
    </ion-row>
  </div>
</div>
<div class="bottom-section ion-margin">
  <img src="/assets/girl.png" alt="">
  <div class="content">
    <h3>Do you own test</h3>
    <p>Follow the instruction to do your own test</p>
  </div>
</div>

 

  <div class="list-title">
    <h3 class="title">Ofertas Exclusivas</h3>
    <a href="">Ver Todo</a>
  </div>

  



